@model PracticeWeb1.Entities.ViewModels.CartDetailsVM

<!--This cndition is not showing I don't know why-->
@if (Model.Items.Count() == 0)
{
    <div>
        <span>There are no items in the cart.</span>
        <img src="~/Images/Logos/sad_face.png" width="50" height="50" alt="Sad Face" />
    </div>
}
else
{
    if (Model.Items != null)
    {
        foreach (var item in Model.Items)
        {
        <dl class="dl-horizontal">
            <dt>@item.Product.Title</dt>
            <dd>@item.Product.Price | @item.Quantity</dd>
        </dl>
        }
    }
    <hr />
    <div>
        <dl class="dl-horizontal">
            <dt>Number of Items: @Model.Qty</dt>
            <dd>Total Price: $@Model.TotalPrice</dd>
        </dl>
    </div>
}

