@model PracticeWeb1.Entities.ViewModels.CartDetailsVM

@if (Model == null)
{
    <p>There are no items in the cart.</p>
}
else
{
    foreach(var item in Model.Items)
    {
        <dl class="dl-horizontal">
            <dt>@item.Product.Title</dt>
            <dd>@item.Product.Price | @item.Quantity</dd>
        </dl>
    }
    <hr />
    <div>
        <dl class="dl-horizontal">
            <dt>Number of Items: @Model.Qty</dt>
            <dd>Total Price: $@Model.TotalPrice</dd>
        </dl>
    </div>
}

