<ul class="nav navbar-nav navbar-right">

    @if (Session["uniqueId"] != null)
    {
        <li>
            @Html.ActionLink("Hello " + Session["username"].ToString() + "!", "Index", "Home", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
    }

    @*<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>*@
</ul>

<ul class="nav navbar-nav navbar-right">

    @if (Session["uniqueId"] != null)
    {
        <li><a id="logOff" href="#">Log Off</a></li>
    }
    else
    {
        <li>@Html.ActionLink("Register", "Register", "UserAccount")</li>
        <li>@Html.ActionLink("Log in", "Login", "UserAccount")</li>
    }
    
</ul>


