@model PracticeWeb1.Areas.Admin.Models.SmallButtonModel

@{var url = "";

    if (Model.Controller == "" && Model.Action == "")
    {
        url = "#";
    }
    else
    {
        url = "/" + Model.Controller + "/" + Model.Action + "/" + Model.ActionParameters;
    }
}

<a class="btn btn-@Model.Type @Model.CustomClass" href="@url">
    <span class="glyphicon glyphicon-@Model.Glyph"></span>
    @Model.Text
</a>