@model IEnumerable<PracticeWeb1.Entities.Category>

@{
    ViewBag.Title = "Home Page";
}

@{int count = 0; }

<div class="thumbnailArea">
    <div class="row">
        <div class="col-md-9">
            @foreach (var item in Model)
            {
                count++;
                @Html.Partial("_CategoryThumbnailsPartial", item)

                if (count == 4)
                {
                    count = 0;
                    <br />
                }
            }
        </div>
        <div class="col-md-3 hidden-xs categorySideBar">
            <h3>Side Bar Goes Here</h3>
            <p>Saludoes</p>
        </div>
    </div>
</div>