.catThumbnail {
    margin-right: 10px;
    padding: 0px;
    margin-bottom: 0px;
}

.panelContainer {
    display: inline-block;
    margin-top: 50px;
}

.catThumbnail img {
    width: 100%;
    height: auto;
    padding-top: 10px;
}

    .catThumbnail img:hover {
        transform: scale(1.5) rotate(5deg);
        transition: all 1s;
    }

.panel-body {
    overflow: hidden;
}

.panel-body:hover {
    cursor: pointer;
}

.panelContainer .panel-body {
    max-height: 150px;
    min-height: 150px;
    max-width: 180px;
    min-width: 180px;
}

.categorySideBar {
    margin-top: 50px;
    border: 1px solid black;
}

.categoriesHeader{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
}

.priceLabel{
    font-family: Tahoma, Arial;
    font-style: italic;
    font-weight: bold;
}

.cart-div{
    padding: 2px;
    margin-top: 2px;
    display: flex;
    justify-content: center;
}

.cart-div .glyphicon-shopping-cart {
    margin-left: 5px;
}
